name: Auto Firmware Dumper

on:
  workflow_dispatch:
    inputs:
      FIRMWARE_URL:
        description: 'Stock ROM Link'
        required: true
        default: ''
      DEVICE_CODENAME:
        description: 'Device Codename'
        required: true
        default: ''
      DEVICE_BRAND:
        description: 'Device Brand'
        required: true
        default: ''
      DEVICE_VERSION:
        description: 'Android Version'
        required: true
        default: ''
      UPLOAD_REPO:
        description: 'Use it if you are going to upload it to the repository.'
        required: true
        default: ''
        type: choice
        options:
        - Okay
        - I do not want
      UPLOAD_PUBL:
        description: 'Use it if you want to compress and publish it as a version.'
        required: true
        default: ''
        type: choice
        options:
        - Okay
        - I do not want
      UPLOAD_LINEAGE_DT:
        description: 'Create LineageOS DT Repo (For approval= true)'
        required: true
        default: ''
        type: choice
        options:
        - Okay
        - I do not want
      UPLOAD_TWRP_DT:
        description: 'Create TWRP DT Repo (For approval= true)'
        required: true
        default: ''
        type: choice
        options:
        - Okay
        - I do not want
      USER_NAME:
        description: 'Name in GitLab Account'
        required: false
        default: ''
      USER_EMAIL:
        description: 'E-mail in GitLab Account'
        required: false
        default: ''

jobs:
  build:
    name: Auto Firmware Dumper
    if: github.event.repository.owner.id == github.event.sender.id
    runs-on: ubuntu-latest
    env:
      TWT: ${{ github.event.inputs.UPLOAD_TWRP_DT }}
      LOT: ${{ github.event.inputs.UPLOAD_LINEAGE_DT }}
      UR: ${{ github.event.inputs.UPLOAD_REPO }}
      UP: ${{ github.event.inputs.UPLOAD_PUBL }}
      FUR: ${{ github.event.inputs.FIRMWARE_URL }}
      DCN: ${{ github.event.inputs.DEVICE_CODENAME }}
      DB: ${{ github.event.inputs.DEVICE_BRAND }}
      UN: ${{ github.event.inputs.USER_NAME }}
      UEM: ${{ github.event.inputs.USER_EMAIL }}
      AV: ${{ github.event.inputs.DEVICE_VERSION }}
      RN: dump_${{ github.event.inputs.DEVICE_BRAND }}_${{ github.event.inputs.DEVICE_CODENAME }}
    permissions:
      contents: write
    steps:
    - name: Check Out
      uses: actions/checkout@v3
      
    - name: Cleanup
      uses: rokibhasansagar/slimhub_actions@main
      
    - name: Set Swap Space
      uses: pierotofy/set-swap-space@master
      with:
       swap-size-gb: 12
        
    - name: Update Packages
      run: |
        sudo apt update
        sudo apt -y upgrade
        sudo apt -y install cpio aria2 git python3 neofetch tar xz-utils
        
    - name: Clone and Setup DumprX
      run: |
        cd /home
        sudo mkdir Auto-Dumper
        sudo chmod 777 Auto-Dumper
        cd Auto-Dumper
        git clone https://github.com/DumprX/DumprX
        cd DumprX
        sudo chmod 777 setup.sh
        sudo chmod 777 dumper.sh
        ./setup.sh

    - name: Creating Dump
      run: |
        cd /home/Auto-Dumper/DumprX
        ./dumper.sh ${{ env.FUR }}
        sudo chmod -R 777 out

    - name: Setting up git
      if: |
        env.UN != null
      run: |
        git config --global user.name "${{ env.UN }}" && git config --global user.email "${{ env.UEM }}"

    - name: Uploading ROM Dump for GitLab Repository
      if: |
        env.UR == 'Okay'
      run: |
        cd /home/Auto-Dumper/DumprX/out
        cp -r lineage-device-tree /home/Auto-Dumper
        cp -r twrp-device-tree /home/Auto-Dumper
        git lfs install
        sudo chmod -R 777 *
        wget https://raw.githubusercontent.com/YZBruh/Auto-Firmware-Dumper/master/scripts/control_all_dt.sh
        sudo chmod 777 control_all_dt.sh
        ./control_all_dt.sh
        sudo rm -rf control_all_dt.sh
        sudo rm -rf .git
        git init
        git branch -M android-${{ env.AV }}
        git remote add origin https://${{ secrets.GITLAB_TOKEN_NAME }}:${{ secrets.GITLAB_TOKEN }}@gitlab.com/${{ env.UN }}/dump_${{ env.DB }}_${{ env.DCN }}.git
        find . -type f -size +75M -exec git lfs track {} +
        git add .
        git commit -s -am "${{ env.DCN }}: ROM Dump"
        git push -u origin android-${{ env.AV }}
        cd /home/Auto-Dumper
        sudo rm -rf DumprX
        
    - name: Compressing ROM Dump
      if: |
        env.UP == 'Okay'
      run: |
        cd /home/Auto-Dumper/DumprX/out
        tar -cJvf dump_${{ env.DB }}_${{ env.DCN }}_part1.tar.xz --ignore-failed-read -W none system vendor *.img *.txt *.sha1 README.md
        mv -v dump_${{ env.DB }}_${{ env.DCN }}_part1.tar.xz /home/Auto-Dumper
        sudo rm -rf system
        sudo rm -rf vendor
        sudo rm -rf README.md
        sudo rm -rf *.txt
        sudo rm -rf *.sha1
        sudo rm -rf *.img
        tar -cJvf dump_${{ env.DB }}_${{ env.DCN }}_part2.tar.xz --ignore-failed-read -W none *
        mv -v dump_${{ env.DB }}_${{ env.DCN }}_part2.tar.xz /home/Auto-Dumper
        cd /home/Auto-Dumper
        sudo rm -rf DumprX
        
    - name: Uploading Compressed ROM Dump (Part1)
      if: |
        env.UP == 'Okay'
      uses: softprops/action-gh-release@v1
      with:
        files: | 
          /home/Auto-Dumper/dump_${{ env.DB }}_${{ env.DCN }}_part1.tar.xz
        name: ROM dump for ${{ env.DB }} ${{ env.DCN }} - Part1 - ${{ github.run_id }}
        tag_name: ${{ env.DCN }}_${{ github.run_id }}_part1
        body: |
           Device: ${{ env.DCN }}
           Brand: ${{ env.DB }}
           Android version: ${{ env.AV }}
           TWRP Tree repo: ${{ env.TWT }}
           LineageOS Tree repo: ${{ env.LOT }}
           Part: 1

    - name: Uploading Compressed ROM Dump (Part2)
      if: |
        env.UP == 'Okay'
      uses: softprops/action-gh-release@v1
      with:
        files: | 
          /home/Auto-Dumper/dump_${{ env.DB }}_${{ env.DCN }}_part2.tar.xz
        name: ROM dump for ${{ env.DB }} ${{ env.DCN }} - Part2 - ${{ github.run_id }}
        tag_name: ${{ env.DCN }}_${{ github.run_id }}_part2
        body: |
           Device: ${{ env.DCN }}
           Brand: ${{ env.DB }}
           Android version: ${{ env.AV }}
           TWRP Tree repo: ${{ env.TWT }}
           LineageOS Tree repo: ${{ env.LOT }}
           Part: 2

    - name: Uploading LineageOS Device Tree
      if: |
        env.TWT == 'Okay'
      run: |
        wget https://raw.githubusercontent.com/YZBruh/Auto-Firmware-Dumper/master/scripts/control_lineage_dt.sh
        sudo chmod 777 control_lineage_dt.sh
        ./control_lineage_dt.sh
        fi;

    - name: Uploading TWRP Device Tree
      if: |
        env.LOT == 'Okay'
      run: |
        cd /home/Auto-Dumper
        wget https://raw.githubusercontent.com/YZBruh/Auto-Firmware-Dumper/master/scripts/control_twrp_dt.sh
        sudo chmod 777 control_twrp_dt.sh
        ./control_twrp_dt.sh
        fi;
